<!DOCTYPE html>
<html lang="en">
	<head><title>Retranslation web app</title></head>
	<body>
        <h1>Enter some text for retranslation</h1>
	<h2>It will be retranslated a few times (eg. English -> Chinese -> English)</h2>
	<p>See <a href="https://sites.google.com/site/tomihasa/google-language-codes">https://sites.google.com/site/tomihasa/google-language-codes</a> for a list of language codes.
	<form action="." method="POST">
		 <p>Enter your text here (50 letters of less):  </p> <input type="text" name="text" size="80" value="i kinda get what you are saying mate.">
	         <br>
		 <p>Enter your 2-letter language code here: </p><input type="language" name="language" size="2" value="zh">
		 <br><br>    
                 <input type="submit" name="my-form" value="Send">
		 
        </form>
	<small>Security notification: Access to this site is logged and monitored.</small>
	</body>

</html>

